#dash-outer {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 1.5rem;
  grid-template-areas: "decks side";
}

#dash-decks {
  grid-area: "decks";
  background-color: blue;
}

#dash-sidebar {
  height: 18rem;
  grid-area: "side";
}
