#nav-outer {
  background-color: #FAEED0;
}

#main-outer {
  background-color: #FCFCFC; 
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

nav {
  /* background-color: purple; */
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo buttons"
}

#nav-logo {
  /* background-color: red; */
  grid-area: logo;
  width: 3rem;
  background-image: url("../assets/images/studioleit-logo-icon.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

#nav-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  font-weight: 600;
  font-size: 1rem;
  margin: auto 1.5rem;
  width: auto;
  height: 2rem;
  line-height: 2.2rem;
  text-align: center;
  border-radius: 5px;
}

.nav-button:hover {
  cursor: pointer;
}

#main {
  /* background-color: blue; */
  padding: 2rem 0;
  min-height: 20rem;
}

.main-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 1.5rem; 
  grid-template-areas: "content side";
}

.main-content {
  grid-area: "content";
}

.main-sidebar {
  grid-area: "side";
  height: 18rem;
}

.main-title {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
